@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&display=swap");

@import url("./styles/navbar.css");
@import url("./styles/hero-section.css");
@import url("./styles/service-section.css");
@import url("./styles/project-section.css");
@import url("./styles/team-section.css");
@import url("./styles/quotes-section.css");
@import url("./styles/footer.css");

:root {
  --blue: #2d9cdb;
  --red: #eb5757;
  --green: #27ae60;
  --shadesBlack: #333333;
  --shadesGray: #4f4f4f;
  --shadesGraySecondary: #f2f2f2;
  --shadesGrayOptional: #828282;
  --footer: #100e1d;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: block;
}

.close-icon {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: var(--shadesBlack);
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.container {
  padding: 42px 165px;
}
.mr-l {
  margin-right: 26px;
}
.text-white {
  color: white !important;
}

@media only screen and (max-width: 1400px) {
  .container {
    padding: 42px 60px;
  }
}

@media only screen and (max-width: 945px) {
  .container {
    padding: 24px 12px;
  }
}
